body {
    background-color: #f1f1f1;
}

#title, #description {
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}

.section {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
}

p {
    margin: 5px;
}

.bold {
    font-weight: 900;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
}

#img-div {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}